{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    {% if title %} 
    <title>FleteSeguro - {{title}}</title>
    {% else %}
    <title>FleteSeguro</title>
    {% endif %}

    <!-- Favicons -->
    <link href="https://hzaratecode.com/iconoFS.png" rel="icon">
    <link href="https://hzaratecode.com/iconoFS.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="{% static '/assets/vendor/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static '/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="{% static '/assets/css/style.css' %}" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Imperial - v5.8.0
    * Template URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
   
    
</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero" style="background: url({% static '/fs_images/DISTRIBUIDOR _VIAL.jpg' %}) top center;">
    <div class="hero-container">
      <div data-aos="fade-in">
        <div class="hero-logo">
          <img class="" src="{% static '/fs_images/fs_logo_halo_blanco.png' %}" style="width: 25em; height: 25em;" alt="FleteSeguro">
        </div>

        <h1>Bienvenido a Flete Seguro</h1>
        <h2>La plataforma digital <span class="typed" data-typed-items="que sincroniza oferta y demanda en entrga de mercancías"></span></h2>
        <h3>Por favor haz click si deseas más información y eres </h3>
        <div class="actions">
          <a href="#services" class="btn-get-started">Cliente</a>
          <a href="#portfolio" class="btn-services">Transportista</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <!-- <a href="index.html" class="logo mr-auto"><img src="{% static '/fs_images/fs_logo_halo_blanco.png' %}" alt=""></a> -->
      <!-- Uncomment below if you prefer to use a text logo -->
      <h1 class="logo mr-auto"><a href="{% url 'core:inicio' %}">FLETESEGURO</a></h1>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="#about">FLETESEGURO</a></li>
          <li><a class="nav-link scrollto" href="#services">Clientes</a></li>
          <li><a class="nav-link scrollto " href="#portfolio">Transportistas</a></li>
          <!-- <li><a class="nav-link scrollto" href="#testimonials">Testimonials</a></li> -->
          <!-- <li><a class="nav-link scrollto" href="#team">Team</a></li> -->
          <!-- <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a href="#">Drop Down 1</a></li>
              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
                <ul>
                  <li><a href="#">Deep Drop Down 1</a></li>
                  <li><a href="#">Deep Drop Down 2</a></li>
                  <li><a href="#">Deep Drop Down 3</a></li>
                  <li><a href="#">Deep Drop Down 4</a></li>
                  <li><a href="#">Deep Drop Down 5</a></li>
                </ul>
              </li>
              <li><a href="#">Drop Down 2</a></li>
              <li><a href="#">Drop Down 3</a></li>
              <li><a href="#">Drop Down 4</a></li>
            </ul>
          </li> -->
          <li><a class="nav-link scrollto" href="#contact">Contacto</a></li>
        </ul>
        <!-- <i class="fas fa-bars mobile-nav-toggle"></i> -->
        <i class="bi mobile-nav-toggle bi-list"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  {% if messages %}
    {% include 'core/includes/messages.html' %}
  {% endif %} 
  
  <main id="main">

    <!-- ======= FLETESEGURO Section ======= -->
    <section id="about">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Nosotros</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">FLETESEGURO es una plataforma digital que resuelve el problema de disponibilidad y confiabilidad en el transporte externo.</p>
          </div>
        </div>
      </div>
      <div class="container about-container" data-aos="fade-up" data-aos-delay="200">
        <div class="row">

          <div class="col-lg-6 about-img">
            <img src="https://hzaratecode.com/iconoFS.png" alt="">
          </div>

          <div class="col-md-6 about-content">
            <h2 class="about-title">¿Cuántas veces hemos necesitado de un transporte y no sabemos a quién llamar, o si el transportista que llegó es de confiar?</h2>
            <p class="about-text">
              FLETESEGURO verifica a todos los transportistas inscritos en la plataforma, que la descripción de las unidades corresponda con la realidad, que los documentos sean reales, que cuenten con los permisos de carga de material peligroso si son requeridos.
            </p>
            <p class="about-text">
              FLETESEGURO te dá la opción de contratar un seguro contra robo de mercancías (por favor revisa nuestra poliza de seguro), para que de esa forma y junto a nuestro proceso de verificación tengas la tranquilidad para utilizar nuestros servicios.
            </p>
            <p class="about-text">
              FLETESEGURO no opera con una tarifa pre-establecida, cada transportista cotiza de acuerdo a su disponibilidad y ganas de trabajar por lo que estamos seguros que obtendrás propuestas muy efectivas en costo para tus entregas.
            </p>
            <p class="about-text">
              Utilizar FLETESEGURO no tiene ningún costo para nuestros clientes, los pagos se realizan a través de un portal de pago especializado, con los más altos estándares de seguridad por lo que puedes estar seguro de tus transacciones, FLETESEGURO no tiene acceso a tus datos de tarjetas de crédito o transacciones bancarias realizadas para efectuar los pagos.
            </p>
          </div>
        </div>
      </div>
    </section><!-- End FLETESEGURO Section -->

    <!-- ======= CLIENTES Section ======= -->
    <section id="services">
      <div class="container">
        <div class="row" data-aos="fade-up">
          <div class="col-md-12">
            <h3 class="section-title">Cliente</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">Si necesitas servicio de tranpsorte de mercancías <b>FLETESEGURO</b> es la opción mas eficiente y segura, en el momento que lo necesites.</p>
          </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="fas fa-american-sign-language-interpreting"></i></div>
            <h4 class="service-title">Fácil de usar</h4>
            <p class="service-description">Sólo regístrate, sube tu solicitud de cotización, elige al transportista que más te convenga por precio, tipo de unidad, desempeño en FLETESEGURO, paga y sigue el procedimiento para realizar el embarque.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="fas fa-shuttle-van"></i></div>
            <h4 class="service-title">Unidades de calidad</h4>
            <p class="service-description">Si no tienes transporte propio o si tus unidades no son suficientes en algunas ocasiones y necesitas contratar transporte externo para la entrega de tus pedidos, FLETESEGURO es la respuesta a tus necesidades.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="fas fa-globe-americas"></i></div>
            <h4 class="service-title">Alcance</h4>
            <p class="service-description">FLETESEGURO te hace visible con cientos de transportistas que competirán por transportar tus pedidos, no importa si es un viaje sencillo o una ruta de varias entregas, los transportistas cotizarán tu viaje con sus mejores costos.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="fas fa-lock"></i></div>
            <h4 class="service-title">Seguridad</h4>
            <p class="service-description">Los transportistas en la plataforma están verificados por FLETESEGURO y su algoritmo te permite enviar tus mercancías asegurándote que la unidad que contrataste es la que te prestará el servicio, que tiene los papeles en regla y podrás verificar su desempeño con nosotros.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="fas fa-user-shield"></i></div>
            <h4 class="service-title">Pago seguro</h4>
            <p class="service-description">Todo el proceso está garantizado por FLETESEGURO, no tienes que tratar con diferentes personas, acordar pagos, perseguir evidencias, todo en un mismo lugar, FACIL Y SEGURO.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="fas fa-file-signature"></i></div>
            <h4 class="service-title">Seguro de viaje</h4>
            <p class="service-description">Si lo deseas puedes contratar un seguro contra robo para amparar tu mercancía, así tendrás tranquilidad para realizar tus entregas.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- End CLIENTES Section -->

    <!-- ======= NEWSLETTER Section ======= -->
    <section id="subscribe" style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url({% static '/fs_images/DISTRIBUIDOR _VIAL.jpg' %}) fixed center center">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-8">
            <h3 class="subscribe-title">Web App</h3>
            <p class="subscribe-text">¿Te interesó? Visita la apliación y comienza a disfrutar de FLETESEGURO</p>
          </div>
          <div class="col-md-4 subscribe-btn-container">
            <a class="subscribe-btn" href="https://fleteseguro.mx/" target="_blank">IR A FLETESEGURO</a>
          </div>
        </div>
      </div>
    </section><!-- End NEWSLETTER Section -->

    <!-- ======= TRANSPORTISTAS Section ======= -->
    <section id="portfolio">
      <div class="container">
        <div class="row" data-aos="fade-up">
          <div class="col-md-12">
            <h3 class="section-title">TRANSPORTISTAS</h3>
            <div class="section-title-divider"></div>
            Si quieres maximizar las ganancias que te generan tus unidades, FLETESEGURO es la respuesta
            <p class="section-description">Si necesitas servicio de tranpsorte de mercancías <b>FLETESEGURO</b> es la opción mas eficiente y segura, en el momento que lo necesites.</p>
          </div>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="200">
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-briefcase"></i></div>
            <h4 class="service-title">Accesibilidad</h4>
            <p class="service-description">Si eres transportista independiente, seguramente tienes períodos donde tu(s) unidad(es) no están trabajando por falta de clientes, sin embargo, tus costos fijos siguen corriendo y en lugar que tu(s) unidad(es) sean una fuente de ingresos son un lastre a tus finanzas.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-card-checklist"></i></div>
            <h4 class="service-title">Movilidad de unidades</h4>
            <p class="service-description">Entendemos perfectamente que tu actividad es el transporte, no las ventas y mercadotecnia, por lo que te ofrecemos nuestra cartera de clientes para que incrementes tu negocio, mas clientes, mas viajes, menos tiempos muertos, más utilidades.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-bar-chart"></i></div>
            <h4 class="service-title">Confianza</h4>
            <p class="service-description">Los clientes de FLETESEGURO utilizan nuestros servicios ya que les ofrecemos una plataforma de uso extremadamente fácil, los transportistas dentro de FLETESEGURO están verificados por lo que los clientes confían en ellos, el proceso es muy fácil y transparente.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-binoculars"></i></div>
            <h4 class="service-title">Pago seguro</h4>
            <p class="service-description">Tu pago está garantizado por FLETESEGURO, una vez que el viaje está terminado y cerrado, nos haces llegar tu factura y listo, recibes tu pago por transferencia bancaria.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-brightness-high"></i></div>
            <h4 class="service-title">Administra tus unidades</h4>
            <p class="service-description">Puedes registrar una o varias unidades y de esa forma multiplicar tus oportunidades de generar utilidades.</p>
          </div>
          <div class="col-lg-4 col-md-6 service-item">
            <div class="service-icon"><i class="bi bi-calendar4-week"></i></div>
            <h4 class="service-title">Fácil de usar</h4>
            <p class="service-description">El proceso es muy fácil, te registras en FLETESEGURO con todos tus datos, realizamos la verificación de tus datos y unidades y estás listo para cotizar, si tu cotización fue seleccionada, sigue el proceso en FLETESEGURO y listo, más clientes, más viajes, mayores utilidades.</p>
          </div>
        </div>
      </div>
    </section>
    </section>
    <!-- End TRANSPORTISTAS Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact">
      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Contactanos</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">¿Quieres saber más o tienes dudas? Envíanos un mensaje y en breve nos comunicaremos contigo.</p>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>CDMX<br>C. Gabriel Mancera 725, Col del Valle Centro, Benito Juárez, 03100 Ciudad de México</p>
              </div>

              <div>
                <i class="bi bi-envelope"></i>
                <p>contacto@fleteseguro.com.mx</p>
              </div>

              <div>
                <i class="bi bi-phone"></i>
                <p>+52 55 56392735</p>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
              <form action="{% url 'core:mensaje' %}" method="post" id="contactForm">
                {% csrf_token %}
                <div class="form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" required>
                </div>
                <div class="form-group mt-3">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" name="telefono" class="form-control" id="telefono" placeholder="Teléfono" required>
                </div>
                <div class="form-group mt-3">
                  <input type="text" class="form-control" name="subject" id="subject" placeholder="Motivo" required>
                </div>
                <div class="form-group mt-3">
                  <textarea class="form-control" name="message" rows="5" placeholder="Mensaje" required></textarea>
                </div>
                <script src="https://www.google.com/recaptcha/api.js"></script>
                <div class="g-recaptcha ml-3 mt-3" data-sitekey="{{google_site_key}}"></div>
                <div class="mt-3"><button type="submit" class="btn btn-primary">Enviar mensaje</button></div>
              </form>
            </div>
          </div>

        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="copyright">
            &copy; Copyright <strong>Endicom</strong>. Todos lo derechos reservsados.
          </div>
          <div class="credits">
            <!--
            All the links in the footer should remain intact.
            You can delete the links only if you purchased the pro version.
            Licensing information: https://bootstrapmade.com/license/
            Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
          -->
            Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="fas fa-arrow-up"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static '/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static '/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static '/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static '/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static '/assets/vendor/typed.js/typed.min.js' %}"></script>
  <script src="{% static '/assets/vendor/php-email-form/validate.js' %}"></script>
  <script src="https://kit.fontawesome.com/a310f58f3b.js" crossorigin="anonymous"></script>

  <!-- Template Main JS File -->
  <script src="{% static '/assets/js/main.js' %}"></script>

</body>

</html>
